.example-card {
  max-width: 400px;
  border: 1px solid #ddd;
  margin: 10px;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: orangered;
}

.blue {
  background-color: cornflowerblue;
}

.score {
  margin: auto;
  text-align: center;
  white-space: nowrap;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: lighter !important;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.reset-button {
  background-color: lightgray;
}

.close-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.button {
  margin: 10px;
  min-width: 250px;
}

.container {
  width: 100%;

  div {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;

    .feedback {
      max-width: 300px;
      margin: auto;
    }
  }
}

mat-card-content {
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  .container {
    div {
      flex-direction: column;
    }
  }
}
